<div class="master-panel" [style.width.px]="plt.isMobileWeb ? '' : 440">

  <div class="player-info-panel row no-gutters align-items-top" #playerInfoPanel>
    <div class="player-avatar-wrapper col-auto" (click)="navTo('玩家设置')">
      <img class="player-avatar" src="/assets/img/default_avatar.png">
      <img class="player-avatar-frame" src="/assets/img/avatar_frame/j1.png" alt="">
      <img class="player-achievement" src="/assets/img/achievements/crjh.png" alt="">
    </div>
    <div class="player-basic col">
      <div class="player-name">
        <span class="player-gender">♀</span>
        陈傲
      </div>
      <div class="player-assets row align-items-center no-gutters">
        <div class="col-auto">
          <img class="player-assets-icon" src="/assets/img/ui/jb.png" alt="">
        </div>
        <div class="player-assets-value col">0</div>
        <div class="col-auto">
          <img class="player-assets-icon" src="/assets/img/ui/zs.png" alt="">
        </div>
        <div class="player-assets-value col">0</div>
      </div>
    </div>
  </div>

  <div class="ops-panel row no-gutters" [style.height.px]="plt.height - playerInfoPanel.clientHeight">
    <div class="col">
      <div class="portrait-wrapper">
        <img class="portrait" src="/assets/img/portrait/pm_f.png" alt="">
      </div>
    </div>

    <div class="col" [style.min-width.%]="55">
      <div class="game-enter" mat-ripple>
        <div class="game-title">一夜终极</div>
        <div class="game-desc">烧脑分析，严谨推理</div>
        <img class="game-cover" src="/assets/img/roles/lw.png" alt="">
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
