app-root {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .root-container {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}
