@font-face {
  font-family: HYJK;
  font-style: normal;
  font-display: swap;
  src: url(./0430d2c50566a69f39164192bae59932.ttf) format('truetype');
}

@font-face {
  font-family: HYOY;
  font-style: normal;
  font-display: swap;
  src: url(./a3a45120fb526ec690e07c56ebd715b3.ttf) format('truetype');
}

@font-face {
  font-family: Fiddums;
  font-style: normal;
  font-display: swap;
  src: url(./17101241503f9ef8ecc0e8d2dd3fb50c.ttf) format('truetype');
}
